.div-accountant{
    background-color: rgb(103, 103, 154);
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 3px;
    border: none;
    background-color: thistle;
}

.lista{
    list-style:none;
}

.card-product{
    border: 2px solid rgb(103, 103, 154);
    background-color: thistle;
    margin: 10px;
}

.button-product{
    background-color: rgb(103, 103, 154);
}

.button-product:hover{
    background-color: rgb(169, 196, 247);
}

.div-btn{
  font-size: 13px;
  display: flex;
  justify-content: center;
}
